# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: monthly
    target-branch: development
    commit-message:
      prefix: build
    ignore:
      # Reason: Depends on the minimal supported VS Code version specified in package.json
      - dependency-name: "@types/vscode"
      # Reason: Depends on the Node.js version used in VS Code
      - dependency-name: "@types/node"
      # Reason: Tempy 2+ is written as ESM module, which is not directly supported by CommonJS
      - dependency-name: "tempy"
        update-types:
          - "version-update:semver-major"
    groups:
      "devDeps minor update":
        dependency-type: "development"
        update-types:
          - minor
          - patch
      "deps minor update":
        dependency-type: "production"
        update-types:
          - minor
          - patch
      # Others:
      # Major dependencies are not grouped, because they should be resolved one by one.
