.vscode/**
.vscode-test/**
.github/**
out/test/**
out/types/**
local
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
**/*.ts
**/tsconfig.json
src/**
resources/readme/**
resources/extension-icon.png
resources/imt-icon.svg
