.vscode/**
.vscode-test/**
.github/**
out/test/**
out/types/**
local
.gitignore
jsconfig.json
vsc-extension-quickstart.md
.eslintrc.json
**/*.ts
**/tsconfig.json
src/**
resources/readme/not-used/**
resources/extension-icon.png
resources/imt-icon.svg
# imljson-language-features is compiled into /out by `tsc`. Src files not needed.
syntaxes/imljson-language-features
!README.md
!LICENSE.md
!CHANGELOG.md
*.md
*.vsix
