name: CI

on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch: {}

#  push:
#    branches:
#      - "**"

# Cancel the previously running job when new Git commit has been received.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    # trunk-ignore(yamllint/quoted-strings)
    name: "Integration tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10 # minutes
    # trunk-ignore(checkov/CKV2_GHA_1)
    permissions:
      checks: read
    steps:
    steps:
      - uses: actions/checkout@v3
      # Setup .npmrc file to publish to npm
      # See https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-the-npm-registry
      - uses: actions/setup-node@v3
        with:
          name: Trunk
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install modules
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Run tests
        timeout-minutes: 5 # minutes
        run: |
          xvfb-run npm run testToJsonFile

      - name: Report to GitHub job
        uses: dorny/test-reporter@v1
        if: success() || failure()     # run this step even if previous step failed
        with:
          name: Integration tests report  # Name of the check run which will be created
          path: out/tests-report.json  # Path to test results
          reporter: mocha-json         # Format of test results
